@font-face {
  font-family: "Jackson Alves Textura Pen";
  src: url("JacksonAlvesTextura-Pen.woff2") format("woff2"),
    url("JacksonAlvesTextura-Pen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
