.text-justify {
  text-align: justify;
}

.w100 {
  width: 100%;
}

.select-dropdown li.optgroup {
  font-weight: bold;
}

.margin10V {
  margin-top: 10px;
  margin-bottom: 10px;
}

ul.dropdown-content.select-dropdown li span {
  color: #000; /* no need for !important :) */
}
.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000 !important;
}
.select-dropdown li.optgroup ~ li.optgroup-option {
  padding-left: 0 !important;
}
.input-field input[type="number"]:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

@media (max-width: 992px) {
  .center-align-on-medium-and-down {
    text-align: center;
  }
}
